# OWNER_APPROVAL_REQUIRED before apply.
location = "fsn1"
saas_server_type = "cx32"
authority_server_type = "cx32"
execution_server_type = "cx22"
admin_cidr_allowlist = ["203.0.113.10/32"]
admin_ssh_key_ids = ["REPLACE_WITH_HETZNER_SSH_KEY_ID"]
execution_egress_cidrs = ["198.51.100.0/24"]
authority_egress_cidrs = ["10.255.0.1/32"]
saas_egress_cidrs = ["10.255.0.3/32"]
